.login-box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: changeColor-loginBox-noLight .5s forwards ease-in-out;
  }
  
  .title {
    font-size: 5rem;
    font-weight: normal;
    letter-spacing: -3px;
    color: #ffffff;
    text-shadow: 5px 7px 6px rgba(0,0,0, .6);
  }
  
  .subtitle {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #ffffff;
    text-shadow: 0 4px 7px rgba(0,0,0, .5);
  }
  
  .input-field {
    font-family: "Sour Gummy", sans-serif;
    width: 40%;
    min-width: 20rem;
    padding: .7rem 1rem;
    font-size: 1em;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    box-shadow: 3px 4px 7px rgba(0,0,0, .5);
  }
  
  .button {
    width: 10rem;
    text-align: center;
    background-color: white;
    font-size: 1.12rem;
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 3px 4px 7px rgba(0,0,0, .5);
    font-family: "Sour Gummy", sans-serif;
  }
  
  .button:hover {
    background-color: #5630cc;
    color: white;
  }

  .pError {
    color: red;
    font-size: 1.2rem;
    margin-top: 1rem;
    text-shadow: 1px 1px 2px rgba(0,0,0, 1);
  }